---
name: Lint
on:
  push:
    branches:
      - main
    paths-ignore:
      - .vscode/*
      - README.md
  pull_request:
    paths-ignore:
      - .vscode/*
      - README.md

jobs:
  build:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3.1.0
      - name: Super Linter
        uses: docker://github/super-linter:v3.13.5
        env:
          VALIDATE_POWERSHELL: true
          FILTER_REGEX_EXCLUDE: /github/workspace/*
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
