---
name: Linux
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - ".vscode/*"
      - "**.md"
  pull_request:
    paths-ignore:
      - ".vscode/*"
      - "**.md"
  schedule:
    - cron: "0 6 * * *"

# Cancel existing runs on new commits to a branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SQLINSTANCE: "localhost"
  DATABASE: "tsqlt"
  SAPASSWORD: "L0wlydb4"

jobs:
  integration:
    runs-on: ${{ matrix.os }}
    name: linux
    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        ports:
          - 1433:1433
        env:
          ACCEPT_EULA: "Y"
          SA_PASSWORD: "L0wlydb4"
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3.3.0
        with:
          ref: ${{ github.head_ref }}

      - name: Install tSQLt with SQL auth
        uses: ./
        with:
          sql-instance: ${{ env.SQLINSTANCE }}
          database: ${{ env.DATABASE }}
          version: "latest"
          user: "sa"
          password: ${{ env.SAPASSWORD }}
          create-database: true
