---
name: Windows
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - .vscode/*
  pull_request:
    paths-ignore:
      - .vscode/*

# Cancel existing runs on new commits to a branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SQLINSTANCE: "localhost"
  DATABASE: "tsqlt"
  SAPASSWORD: "L0wlydb4"

jobs:
  integration:
    runs-on: ${{ matrix.os }}
    name: windows
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3.0.2
        with:
          path: ""
          ref: ${{ github.head_ref }}

      - name: Install SQL Server
        uses: potatoqualitee/mssqlsuite@v1.4
        with:
          install: sqlengine
          sa-password: ${{ env.SAPASSWORD }}

      - name: Create database
        run: |
          Invoke-SqlCmd -ServerInstance $Env:SQLINSTANCE -Query "CREATE DATABASE [$Env:DATABASE];" -OutputSqlErrors $true

      - name: Install tSQLt with Windows auth
        uses: ./.github/actions/tsqlt
        with:
          sql-instance: ${{ env.SQLINSTANCE }}
          database: ${{ env.DATABASE }}
          version: "latest"

      - name: Install tSQLt with SQL auth
        uses: ./.github/actions/tsqlt
        with:
          sql-instance: ${{ env.SQLINSTANCE }}
          database: ${{ env.DATABASE }}
          version: "latest"
          user: "sa"
          password: ${{ env.SAPASSWORD }}
